/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Monoton&family=Press+Start+2P&display=swap');

.btn-main {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link,
#linkClick {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    margin-top: 20px;
    margin-left: 20px;
}

#linkClick {
    font-size: 10px;
}


.btn-funciones {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    background: none;
    border: none;
}

p {
    text-align: center; 
}

.titulo {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
}

#text-stop {
    font-family: 'Press Start 2P', cursive;
    color: #ff6767;
    margin-top: 10px;
    text-align: center;
}

.btn {
    background: none;
    border: none;
}

/* Arcoiris */
.red {
    background-color: #ff6767;
}

.orange {
    background-color: #ff9f67;
}

.yellow {
    background-color: #fff567;
}

.green {
    background-color: #85ff67;
}

.blue {
    background-color: #67e8ff;
}

.violet {
    background-color: #9c67ff;
}

.btn-light {
    color: aliceblue;
}

/* Bomba nuclear */
.bombacontador:disabled {
    color: black;
}

.bombalanzado:disabled {
    color: #ff6767
}

.bombafondo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/BombaNuclear.gif'); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
    width: 65rem;
    height: 35rem;
}

.bgFondoBomba {
    background-color: #ff6767;
    transition: 0.1s all;
} 

.bgFondoNormal {
    background-color: #fff;
    transition: 0.5s all;
}